<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <% include common/required.html %>
  <link href="/stylesheets/yukari.css" rel="stylesheet" media="screen">

  <script type="text/javascript" src="/javascripts/admin_company_list.js"></script>

</head>
<body>


<% include common/navbar.html %>

<div class="main-container container-fluid">
  <% include common/sidebar.html %>

  <div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari">ホーム</a>
            <span class="divider">
              <i class="icon-chevron-right arrow-icon"></i>
            </span>
        </li>
        <li class="active">顧客</li>
      </ul><!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="row tableheader">
        <div class="pull-right" style="padding-bottom: 5px">
          <a href="/admin/company/add" class="btn btn-default"><i class="icon-plus"></i>顧客追加</a>
        </div>
        <div class="pull-right" style="width: 300px">
          <form class="search-form">
            <div class="input-group">
              <input type="text" placeholder="検索 ..." class="form-control"  autocomplete="off" />
              <span class="input-group-addon">
                <i class="icon-search"></i>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>顧客タイプ</th>
            <th>会社ID</th>
            <th>会社名</th>
            <th>会社住所</th>
            <th>電話番号</th>
            <th>管理者ID</th>
            <th>登録日</th>
            <th>有効性</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody id="company_list"></tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="pagination-area" id="pagination_area"></div>
  </div><!--/.main-content-->

</div><!--/.main-container-->
<footer>

</footer>

<script type="text/template" id="tmpl_company_list">
<tr>
  <td>{{index}}</td>
  <$ if (type == 1) {$>
  <td>契約顧客</td>
  <$ } else {$>
  <td>体験顧客</td>
  <$ } $>
  <td>{{_id}}</td>
  <td>{{name}}</td>
  <td>{{address}}</td>
  <td>{{tel}}</td>
  <td>{{mail}}</td>
  <td>{{createat}}</td>
  <$ if (active == 1) {$>
    <td><input type="checkbox" checked="true"></td>
  <$ } else {$>
    <td><input type="checkbox"></td>
  <$ } $>
  <td>
    <a href="/admin/company/edit/{{_id}}" class="btn btn-default btn-sm" index={{index}} operation="edit">編集</a>
    <$ if (type == 1) {$>
        <a href="/admin/company/remove/{{_id}}" class="btn btn-default btn-sm" index={{index}} operation="delete">削除</a>
        <$ if (active == 1) {$>
          <a href="/admin/company/edit/{{_id}}" class="btn btn-default btn-sm" index={{index}} operation="active">無効</a>
        <$ } else {$>
          <a href="/admin/company/edit/{{_id}}" class="btn btn-default btn-sm" index={{index}} operation="active">有効</a>
        <$ } $>
    <$ } else {$>
      <a href="/admin/company/remove/{{_id}}" class="btn btn-default btn-sm" index={{index}} operation="delete">削除</a>
    <$ } $>
  </td>
</tr>
</script>

</body>
</html>