<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <% include common/required.html %>
  <link href="/stylesheets/yukari.css" rel="stylesheet" media="screen">

  <script type="text/javascript" src="/javascripts/admin_company_list.js"></script>
    <script type="text/javascript">
        var i18n = {
            "js.common.search.error": "<%=i('js.common.search.error') %>"
            , "js.common.dialog.ok": "<%=i('js.common.dialog.ok') %>"
            , "js.common.dialog.cancel": "<%=i('js.common.dialog.cancel') %>"
            , "js.common.delete.confirm": "<%=i('js.common.delete.confirm') %>"
            , "js.public.check.material.delete": "<%=i('js.public.check.material.delete') %>"
            , "js.common.delete.success": "<%=i('js.common.delete.success') %>"
            , "js.common.replace.error": "<%=i('js.common.replace.error') %>"
            , "js.common.replace.success": "<%=i('js.common.replace.success') %>"
            , "js.common.update.error": "<%=i('js.common.update.error') %>"
            , "js.common.update.success": "<%=i('js.common.update.success') %>"
        }
    </script>


</head>
<body>


<% include common/navbar.html %>

<div class="main-container container-fluid">
  <% include common/sidebar.html %>

  <div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari"><%= i('html.label.common.home') %><!--ホーム --></a>
            <span class="divider">
              <i class="icon-chevron-right arrow-icon"></i>
            </span>
        </li>
        <li class="active"><%= i('html.label.company') %><!--顧客 --></li>
      </ul><!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="row tableheader">
        <div class="pull-right" style="padding-bottom: 5px">
          <a href="/admin/company/add" class="btn btn-default"><i class="icon-plus"></i><%= i('html.button.company.add') %><!--顧客追加 --></a>
        </div>
        <div class="pull-right" style="width: 300px">
          <form class="search-form" onsubmit="return false;">
            <div class="input-group">
              <input id = "company_search" type="text" placeholder="<%= i('html.label.common.search')%> ( <%= i('html.label.company.name') %>)" class="form-control"  autocomplete="off" />
              <span class="input-group-addon">
                <i id = "doSearchCompany"class="icon-search"></i>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th><%= i('html.label.company.type') %><!--顧客タイプ --></th>
            <th><%= i('html.label.company.path') %><!--会社ID --></th>
            <th><%= i('html.label.company.code') %><!--会社コード --></th>
            <th><%= i('html.label.company.name') %><!--会社名(英語) --></th>
            <th><%= i('html.label.company.kana') %><!--会社名(かな) --></th>
            <!--<th><%= i('html.label.company.address') %>&lt;!&ndash;会社住所 &ndash;&gt;</th>-->
            <!--<th><%= i('html.label.company.tel') %>&lt;!&ndash;電話番号 &ndash;&gt;</th>-->
            <th><%= i('html.label.company.adminid') %><!--管理者ID --></th>
            <th><%= i('html.label.company.createat') %><!--登録日 --></th>
            <th><%= i('html.label.company.active') %><!--有効性 --></th>
            <th><%= i('html.label.common.operation') %><!--操作 --></th>
          </tr>
          </thead>
          <tbody id="company_list"></tbody>
        </table>
        </div>
      </div>
      <div class="pagination-area" id="pagination_area"></div>
    </div>

  </div><!--/.main-content-->

</div><!--/.main-container-->
<footer>

</footer>

<script type="text/template" id="tmpl_company_list">
<tr>
  <td>{{index}}</td>
  <$ if (type == 2) {$>
  <td><%= i('html.label.company.type.self') %><!--契約顧客 --></td>
  <$ } else if(type == 1) {$>
  <td><%= i('html.label.company.type.contract') %><!--体験顧客 --></td>
  <$ } else {$>
  <td><%= i('html.label.company.type.demo') %><!--体験顧客 --></td>
  <$ } $>
  <td>{{_id}}</td>
  <td>{{code}}</td>
  <td>{{name}}</td>
  <td>{{kana}}</td>
  <!--<td>{{address}}</td>-->
  <!--<td>{{tel}}</td>-->
  <td>{{mail}}</td>
  <td>{{createat}}</td>
  <$ if (active == 1) {$>
    <td><i class="icon-ok"></i></td>
  <$ } else {$>
    <td></td>
  <$ } $>
  <td>
    <a href="/admin/company/edit/{{_id}}" class="btn btn-default btn-sm" index={{index}} operation="edit"><%= i('html.button.common.edit') %><!--編集 --></a>
    <$ if (active == 1) {$>
      <a href="/admin/company/edit/{{_id}}" class="btn btn-default btn-sm" index={{index}} code={{code}} operation="active"><%= i('html.button.common.inactive') %><!--無効 --></a>
    <$ } else {$>
      <a href="/admin/company/edit/{{_id}}" class="btn btn-default btn-sm" index={{index}} code={{code}} operation="active"><%= i('html.button.common.active') %><!--有効 --></a>
    <$ } $>
  </td>
</tr>
</script>

</body>
</html>