<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include common/required.html %>
  <link href="/stylesheets/yukari.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/javascripts/layoutlist.js"></script>
  <script type="text/javascript" src="/javascripts/common.user.view.js"></script>
</head>
<body>
<input type="hidden" name="publishFlag" id="publishFlag" value=<%=publishFlag%> >
<input type="hidden" name="statusFlag" id="statusFlag" value=<%=statusFlag%> >
<% include common/navbar.html %>
<div class="main-container container-fluid">
  <% include common/sidebar.html %>

  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari"><%= i('html.label.common.home') %><!--ホーム --></a>
            <span class="divider">
              <i class="icon-chevron-right arrow-icon"></i>
            </span>
        </li>
        <li class="active" id="list_title"><%= i('html.label.layout') %><!--レイアウト一覧 --></li>
      </ul><!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="row tableheader">

        <div class="pull-right">
          <button id="addLayout" type="button" class="btn btn-default">
            <i class="icon-plus icon-white"></i><span><%= i('html.label.layout.add') %><!--レイアウト追加 --></span>
          </button>
        </div>

        <div class="pull-right" style="width: 300px">
          <form class="search-form">
            <div class="input-group">
              <input type="text" placeholder="<%= i('html.label.common.search') %>" class="form-control"  autocomplete="off" />
                <span class="input-group-addon">
                  <i class="icon-search"></i>
                </span>
            </div>
          </form>
        </div>
      </div>

      <div id="list" class="row">
        <div class="col-lg-12">
          <table class="table table-hover">
            <thead id="layout_header">
            <tr>
              <th>#</th>
              <th><%= i('html.label.layout.name') %><!--名称 --></th>
              <th><%= i('html.label.layout.status') %><!--ステータス --></th>
              <th><%= i('html.label.layout.public') %><!--公式 --></th>
              <th><%= i('html.label.layout.updateby') %><!--更新者 --></th>
              <th><%= i('html.label.layout.updateat') %><!--更新日 --></th>
              <th><%= i('html.label.common.operation') %><!--操作 --></th>
            </tr>
            </thead>
            <tbody  id="layout_list"></tbody>
          </table>
        </div><!--/span-->
      </div>
      <div class="pagination-area" id="pagination_area"></div>

    </div>
  </div>

</div><!--/.main-container-->

<!--申請ポップアップ -->
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= i('html.label.layout.applyrequest') %><!--申請提出 --></h4>
      </div>
      <div class="modal-body" style="padding-bottom: 0px">
        <div class="row">
          <form class="form-horizontal" role="form">
            <input type="hidden" name="confirmId" id="confirmId">
            <div class="form-group">
              <label for="keywordsText" class="col-lg-3 control-label"><%= i('html.label.layout.approver') %><!--承認者 --></label>
              <div class="col-lg-7">
                <div id="textBoxConfirm" class="incrementBox">
                  <input id="keywordsText" scope="1" placeholder="<%= i('html.input.layout.approver') %>" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer" style="margin-top: 0px">
        <button class="btn btn-warning" id="applyButton">
          <i class="icon-share icon-white"></i><span> <%= i('html.button.layout.appply') %><!--申請 --></span></button>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="tmpl_layout_list">
  <tr>
    <td>{{index}}</td>
    <td>{{name}}</td>
    <td>{{status}}</td>
    <td>{{publish}}</td>
    <td>{{editby}}</td>
    <td>{{editat}}</td>
    <td>
      <a href="#" class="btn btn-default btn-sm {{class1}}" rowid="{{id}}" operation="edit"><%= i('html.button.common.edit') %><!--編集 --></a>
      <a href="#" class="btn btn-default btn-sm {{class2}}" rowid="{{id}}" operation="apply"><%= i('html.button.layout.appply') %><!--申請 --></a>
      <a href="#" class="btn btn-default btn-sm" rowid={{id}} operation="copy"><%= i('html.button.common.copy') %><!--コピー --></a>
      <a href="#" class="btn btn-default btn-sm {{class4}}" rowid="{{id}}" operation="delete"><%= i('html.button.common.delete') %><!--削除 --></a>
      <a href="#" class="btn btn-default btn-sm {{class5}}" rowid="{{id}}" operation="preview" imageH = "{{preview_image}}" ><%= i('html.button.common.preview') %><!--プレビュー --></a>
    </td>
  </tr>
</script>

<script type="text/template" id="tmpl_publishlayout_list">
  <tr>
    <td>{{index}}</td>
    <td>{{name}}</td>
    <td>{{editby}}</td>
    <td>{{editat}}</td>
    <td>
      <!--<a href="#" class="btn btn-default btn-sm" rowid={{id}} layoutId={{layoutId}} operation="copy">コピー</a>-->
      <a href="#" class="btn btn-default btn-sm {{class3}}" rowid={{id}} operation="preview" imageH = {{preview_image}} ><%= i('html.button.common.preview') %><!--プレビュー --></a>
      <a href="#" class="btn btn-default btn-sm" rowid={{id}} layoutId={{layoutId}} operation="delete"><%= i('html.button.common.discard') %><!--廃止 --></a>
    </td>
  </tr>
</script>

<script type="text/template" id="tmpl_applylayout_list">
  <tr>
    <td>{{index}}</td>
    <td>{{name}}</td>
    <td>{{confirmby}}</td>
    <td>{{editat}}</td>
    <td>
       <a href="#" class="btn btn-default btn-sm {{class3}}" rowid={{id}} operation="preview" imageH = {{preview_image}} ><%= i('html.button.common.preview') %><!--プレビュー --></a>
    </td>
  </tr>
</script>

<script type="text/template" id="tmpl_confirmlayout_list">
  <tr>
    <td>{{index}}</td>
    <td>{{name}}</td>
    <td>{{editby}}</td>
    <td>{{editat}}</td>
    <td>
      <a href="#" class="btn btn-default btn-sm " rowid={{id}} operation="confirm"><%= i('html.button.layout.approve') %><!--承認 --></a>
      <a href="#" class="btn btn-default btn-sm " rowid={{id}} operation="deny"><%= i('html.button.layout.deny') %><!--否認 --></a>
    </td>
  </tr>
</script>

<div class="modal fade" id="syntheticModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 570px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%= i('html.label.layout.imagepreview') %><!--画面プレビュー --></h4>
            </div>
            <div class="modal-body" id="slide">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal"><%= i('html.button.common.close') %><!--クローズ -->クローズ</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/template" id="tmpl_slide">
    <div class="carousel slide bs-docs-carousel-example" id="carousel-example-generic">

        <div class="carousel-inner" style = "height : 350px ; overflow :hidden ; overflow-y:auto; ">
            <$ var cnt=1; _.each(files, function(file) { $>
            <div class="item" id="page{{cnt}}">
                <img alt="Slide{{cnt}}" src="/picture/{{file}}">
            </div>
            <$ cnt++}); $>
        </div>
    </div>
</script>

</div>
</body>
</html>