<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include common/required.html %>
  <link href="/stylesheets/yukari.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/javascripts/content_layout_list.js"></script>
  <script type="text/javascript" src="/javascripts/common.user.view.js"></script>
  <link href="/vendor/daterangepicker/css/daterangepicker-bs3.css" rel="stylesheet" media="screen">

  <script type="text/javascript" src="/vendor/daterangepicker/js/daterangepicker.js"></script>
  <script type="text/javascript" src="/vendor/moment/moment+langs.min.js"></script>
  <style type="text/css">
    .dropdown-menu{
      z-index: 1100; /*为解决daterangepicker比dialog层低的问题*/
    }
  </style>
</head>
<body>

<input type="hidden" name="publishFlag" id="publishFlag" value=<%=publishFlag%> >
<input type="hidden" name="statusFlag" id="statusFlag" value=<%=statusFlag%> >
<input type="hidden" id="authorityContents" value="<%= user.authority.contents %>" >
<input type="hidden" id="authorityApprove" value="<%= user.authority.approve %>" >

<% include common/navbar.html %>
<div class="main-container container-fluid">
  <% include common/sidebar.html %>

  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari"><%= i('html.label.common.home') %><!--ホーム --></a>
            <span class="divider">
              <i class="icon-chevron-right arrow-icon"></i>
            </span>
        </li>
        <li class="active" id="list_title"><%= i('html.label.layout') %><!--レイアウト一覧 --></li>
      </ul><!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="row tableheader">

        <div class="pull-right">
          <button id="addLayout" type="button" class="btn btn-default">
            <i class="icon-plus icon-white"></i><span><%= i('html.label.layout.add') %><!--レイアウト追加 --></span>
          </button>
        </div>

        <div class="pull-right" style="width: 300px">
          <form class="search-form" onsubmit="return false">
            <div class="input-group">
              <input id="txt_search" type="text" placeholder="<%= i('html.label.common.search') %>(<%= i('html.label.layout.name') %>)" class="form-control"  autocomplete="off" />
                <span id="doSearch" class="input-group-addon">
                  <i class="icon-search"></i>
                </span>
            </div>
          </form>
        </div>
      </div>

      <div id="list" class="row">
        <div class="col-lg-12">
          <table class="table table-hover">
            <thead id="layout_header">
            <tr>
              <th>#</th>
              <th><%= i('html.label.layout.name') %><!--名称 --></th>
              <th><%= i('html.label.layout.status') %><!--ステータス --></th>
              <th><%= i('html.label.layout.public') %><!--公式 --></th>
              <th><%= i('html.label.layout.viewer') %><!--公开先 --></th>
              <th><%= i('html.label.layout.updateby') %><!--更新者 --></th>
              <th><%= i('html.label.layout.updateat') %><!--更新日 --></th>
              <th><%= i('html.label.common.operation') %><!--操作 --></th>
            </tr>
            </thead>
            <tbody  id="layout_list"></tbody>
          </table>
        </div><!--/span-->
      </div>
      <div class="pagination-area" id="pagination_area"></div>

    </div>
  </div>

</div><!--/.main-container-->

<!--申請ポップアップ -->
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= i('html.label.layout.applyrequest') %><!--申請提出 --></h4>
      </div>
      <div class="modal-body" style="padding-bottom: 0px">
        <div class="row">
          <form class="form-horizontal" role="form">
            <input type="hidden" name="confirmId" id="confirmId">
            <div class="form-group">
              <label for="keywordsText" class="col-lg-3 control-label"><%= i('html.label.layout.approver') %><!--承認者 --></label>
              <div class="col-lg-7">
                <div id="textBoxConfirm" class="incrementBox">
                  <input id="keywordsText" scope="1" placeholder="<%= i('html.input.layout.approver') %>" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="keywordsText" class="col-lg-3 control-label"><%= i('html.label.layout.viewer') %><!-- 公開先 --></label>
              <div class="col-lg-7">
                <div id="textBoxViewer" class="incrementBox">
                  <input id="viewerText" scope="1" placeholder="<%= i('html.input.layout.viewer') %>" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="openrange" class="col-lg-3 control-label"><%= i('html.label.layout.range') %><!-- 公開期間 --></label>
              <div class="col-lg-7">
                <div id="inputOpenRange" class="btn-group" value="0">
                  <button value="0" class="btn btn-sm btn-default btn-white" type="button"><%= i('html.button.range.off') %></button>
                  <button value="1" class="btn btn-sm btn-default btn-info" type="button" ><%= i('html.button.range.on') %></button>
                </div>
                <div class="input-group" id="openrange" style="margin-top: 10px;">
                  <input class="form-control daterange" readonly placeholder="<%= i('html.input.layout.range') %>" type='text' id='datepicker' style="font-size: 13px;">
                  <input type="hidden" id="openStart">
                  <input type="hidden" id="openEnd">
                  <!--span class='input-group-addon'>
                    <i class="icon-calendar" id="date_icon"></i>
                  </span-->
                </div>
              </div>
              
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer" style="margin-top: 0px">
        <button class="btn btn-warning" id="applyButton">
          <i class="icon-share icon-white"></i><span> <%= i('html.button.layout.appply') %><!--申請 --></span></button>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="tmpl_layout_list">
  <tr>
    <td>{{index}}</td>
    <td>{{name}}</td>
    <td>{{status}}</td>
    <td>{{publish}}</td>
    <td>{{viewer}}</td>
    <td>{{editby}}</td>
    <td>{{editat}}</td>
    <td>
      <a href="#" class="btn btn-default btn-sm {{class1}}" rowid="{{id}}" operation="edit"><%= i('html.button.common.edit') %><!--編集 --></a>
      <a href="#" class="btn btn-default btn-sm {{class2}}" rowid="{{id}}" operation="apply"><%= i('html.button.layout.appply') %><!--申請 --></a>
      <a href="#" class="btn btn-default btn-sm {{class3}}" rowid={{id}} operation="copy"><%= i('html.button.common.copy') %><!--コピー --></a>
      <a href="#" class="btn btn-default btn-sm {{class4}}" rowid="{{id}}" operation="delete"><%= i('html.button.common.delete') %><!--削除 --></a>
      <a href="#" class="btn btn-default btn-sm {{class5}}" rowid="{{id}}" operation="preview" imageH = "{{preview_image_H}}" imageV = "{{preview_image_V}}" synthetic_id="{{tmpSyn}}"><%= i('html.button.common.preview') %><!--プレビュー --></a>
    </td>
  </tr>
</script>

<script type="text/template" id="tmpl_publishlayout_list">
  <tr>
    <td>{{index}}</td>
    <td>{{name}}</td>
    <td>{{viewer}}</td>
    <td>{{range}}</td>
    <td>{{editby}}</td>
    <td>{{editat}}</td>
    <td>
      <!--<a href="#" class="btn btn-default btn-sm" rowid={{id}} layoutId={{layoutId}} operation="copy">コピー</a>-->
      <a href="#" class="btn btn-default btn-sm {{class3}}" rowid={{id}} operation="preview" imageH = {{preview_image_H}} imageV = {{preview_image_V}} synthetic_id={{tmpSyn}}><%= i('html.button.common.preview') %><!--プレビュー --></a>
      <a href="#" class="btn btn-default btn-sm {{class6}}" rowid={{id}} layoutId={{layoutId}} operation="repeal"><%= i('html.button.common.discard') %><!--廃止 --></a>
    </td>
  </tr>
</script>

<script type="text/template" id="tmpl_applylayout_list">
  <tr>
    <td>{{index}}</td>
    <td>{{name}}</td>
    <td>{{confirmby}}</td>
    <td>{{viewer}}</td>
    <td>{{range}}</td>
    <td>{{editat}}</td>
    <td>
       <a href="#" class="btn btn-default btn-sm {{class3}}" rowid={{id}} operation="preview" imageH = {{preview_image_H}} imageV = {{preview_image_V}} synthetic_id={{tmpSyn}}><%= i('html.button.common.preview') %><!--プレビュー --></a>
    </td>
  </tr>
</script>

<script type="text/template" id="tmpl_confirmlayout_list">
  <tr>
    <td>{{index}}</td>
    <td>{{name}}</td>
    <td>{{viewer}}</td>
    <td>{{range}}</td>
    <td>{{editby}}</td>
    <td>{{applyat}}</td>
    <td>
      <a href="#" class="btn btn-default btn-sm " rowid={{id}} operation="confirm"><%= i('html.button.layout.approve') %><!--承認 --></a>
      <a href="#" class="btn btn-default btn-sm " rowid={{id}} operation="deny"><%= i('html.button.layout.deny') %><!--否認 --></a>
    </td>
  </tr>
</script>

<div class="modal fade" id="syntheticModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 670px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%= i('html.label.layout.imagepreview') %><!--画面プレビュー --></h4>
            </div>
            <div class="modal-body" id="slide_H" style="padding-bottom: 40px;margin: 10px 10%; background-image: url('/images/x.png'); background-repeat:no-repeat; background-size: 518px 376px;">
            </div>
            <div class="modal-body" id="slide_V" style="display:none;padding-bottom: 40px;margin: 10px 20%; background-image: url('/images/y.png'); background-repeat:no-repeat; background-size: 376px 518px;">
            </div>
            <div class="modal-footer" >
                <div class="btn-group" value="0" id="switchHV" style="margin-right:33%;">
                    <button type="button" class="btn btn-sm btn-default " value="0" id="btn_V"><%= i('html.label.layout.x') %></button>
                    <button type="button" class="btn btn-sm btn-info " value="1" id="btn_H"><%= i('html.label.layout.y') %></button>
                </div>
                <button type="button" class="btn btn-warning" data-dismiss="modal"><%= i('html.button.common.close') %></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/template" id="tmpl_slide_H">
    <div class="carousel slide bs-docs-carousel-example" id="carousel-example-generic" style ="">

        <div class="carousel-inner" style = "" id="img_H">
            <$ var cnt=1; _.each(files, function(file) { $>
            <div class="item" id="page{{cnt}}" style="margin-top:12px; margin-left:8px; height:308px; width :451px; border-style: solid; border-width: 2px 2px 2px 2px;border-color：FFFFFF ;overflow-y:scroll;">
                <img alt="Slide{{cnt}}" src="/picture/{{file}}">
            </div>
            <$ cnt++}); $>
        </div>
    </div>

</script>

<script type="text/template" id="tmpl_slide_V">
    <div class="carousel slide bs-docs-carousel-example"  style ="">

        <div class="carousel-inner" style = "display:none;" id="img_V">
            <div class="item" id="page" style="margin-top:10px; height : 451px; width :336px;border-style: solid; border-width: 2px 2px 2px 2px;border-color：FFFFFF ">
                <$ if (imgs.case_menu) { $>
                <div style = "width:336;  height:51px; overflow-x:hidden; overflow-y:hidden">
                    <img alt="Slide" src="/picture/{{imgs.case_menu}}" style = "width:auto;  height :51px;">
                </div>
                <div style="width:332px; height:400px; overflow-x:hidden; overflow-y:scroll">
                    <img alt="Slide" src="/picture/{{imgs.case_image}}" style = "width:332px; height:auto;">
                </div>
                <$ } $>
            </div>

        </div>
    </div>

</script>
</body>
</html>