<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include common/required.html %>
  <link href="<%= dynamic('/stylesheets/yukari.css')%>" rel="stylesheet" media="screen">

  <script type="text/javascript" src="<%= dynamic('/javascripts/customer_user_list.js')%>"></script>
  <script type="text/javascript">
    var i18n = {
      "js.common.search.error": "<%=i('js.common.search.error') %>"
      , "js.common.list.empty": "<%=i('js.common.list.empty') %>"
      , "js.common.update.error": "<%=i('js.common.update.error') %>"
    }
  </script>
</head>
<body>

<% include common/navbar.html %>

<div class="main-container container-fluid">
  <% include common/sidebar.html %>


  <div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari"><%= i('html.label.common.home') %><!-- ホーム--></a>
            <span class="divider">
              <i class="icon-chevron-right arrow-icon"></i>
            </span>
        </li>
        <li class="active"><%= i('html.label.user') %><!-- ユーザ一覧--></li>
      </ul><!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="row tableheader">
        <div class="pull-right" style="padding-bottom: 5px">
            <a href="/customer/user/add" class="btn btn-default"><i class="icon-plus"></i><%= i('html.button.user.add') %><!-- ユーザ追加--></a>
        </div>
        <div class="pull-right" style="width: 300px">
          <form class="search-form" onsubmit="return false;">
            <div class="input-group">
              <input id = "user_search" type="text" placeholder="<%= i('html.label.common.search') %>(<%= i('html.label.user.name') %>)" class="form-control"  autocomplete="off" />
              <span id="doSearchUser" class="input-group-addon">
                <i class="icon-search"></i>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th><%= i('html.label.user.id') %><!-- ユーザID--></th>
            <th><%= i('html.label.user.name') %><!-- 名前--></th>
            <th><%= i('html.label.user.role') %><!-- 役職--></th>
            <th><%= i('html.label.user.tel') %><!-- 電話番号--></th>
            <th><%= i('html.label.user.comment') %><!-- コメント--></th>
            <th><%= i('html.label.user.contents') %><!-- コンテンツ作成者--></th>
            <th><%= i('html.label.user.approved') %><!-- 承認者--></th>
            <th><%= i('html.label.user.notice') %><!-- 通知者--></th>
            <th><%= i('html.label.user.active') %><!-- 有効--></th>
            <th><%= i('html.label.common.operation') %><!-- 操作--></th>
          </tr>
          </thead>
          <tbody id="user_list"></tbody>
        </table>
          </div>
      </div>
      <div class="pagination-area" id="pagination_area"></div>
    </div>

  </div><!--/.main-content-->

</div><!--/.main-container-->
<footer>

</footer>

<script type="text/template" id="tmpl_user_list">
  <tr>
    <td>{{index}}</td>
    <td>{{uid}}</td>
    <td>{{name}}</td>
    <td>{{title}}</td>
    <td>{{telephone}}</td>
    <td>{{description}}</td>
    <$ if (contents == 1) {$>
    <td><i class="icon-ok"></i></td>
    <$ } else {$>
    <td></td>
    <$ } $>
    <$ if (approved == 1) {$>
    <td><i class="icon-ok"></i></td>
    <$ } else {$>
    <td></td>
    <$ } $>
    <$ if (notice== 1) {$>
    <td><i class="icon-ok"></i></td>
    <$ } else {$>
    <td></td>
    <$ } $>
    <$ if (active == 1) {$>
    <td><i class="icon-ok"></i></td>
    <$ } else {$>
    <td></td>
    <$ } $>
    <$ if(canbeedit) { $>
    <td>
      <a href="/customer/user/edit/{{id}}" class="btn btn-default btn-sm" index={{index}} operation="edit"><%= i('html.button.common.edit') %><!-- 編集--></a>
      <$ if (type == 0) {$>
        <$ if (active == 1) {$>
          <a href="/customer/user/" class="btn btn-default btn-sm" index={{index}} operation="active"><%= i('html.button.common.inactive') %><!-- 無効--></a>
        <$ } else {$>
          <a href="/customer/user/" class="btn btn-default btn-sm" index={{index}} operation="active"><%= i('html.button.common.active') %><!-- 有効--></a>
        <$ } $>
      <$ } $>
    </td>
    <$ } else { $>
    <td>&nbsp;</td>
    <$ } $>
  </tr>
</script>

</body>
</html>