<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include common/required.html %>
  <link href="/stylesheets/yukari.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/javascripts/common.user.view.js"></script>
  <script type="text/javascript" src="/javascripts/customer_group_update.js"></script>
</head>
<body>
<input type="hidden" id="groupId" name="groupId" value="<%= groupId %>">
<% include common/navbar.html %>

<div class="main-container container-fluid">
  <% include common/sidebar.html %>

  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari"><%= i('html.label.common.home') %><!-- ホーム--></a>
          <span class="divider"><i class="icon-chevron-right arrow-icon"></i></span>
        </li>
        <li style="width:110px">
          <i class="icon-group"></i>
          <a href="/customer/group"><%= i('html.label.group') %><!-- グループ--></a>
          <span class="divider"><i class="icon-chevron-right arrow-icon"></i></span>
        </li>
        <li class="active" style="width:86px"><%= title %></li>
      </ul><!--.breadcrumb-->
    </div>
    <div class="page-content">
      <div class="row tableheader col-lg-8">
        <div class="pull-left">
          <h4><%= i('html.label.group') %><!-- グループ--></h4>
        </div>
      </div>
      <div class="row col-lg-8 box-border">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="inputName" class="col-lg-2 control-label"><%= i('html.label.group.name') %><!-- 名前--></label>
              <div class="col-lg-8">
                <input type="text" class="form-control" id="inputName" placeholder="<%= i('html.label.group.name') %>" maxlength="20">
              </div>
            </div>
            <div class="form-group">
              <label for="inputMember" class="col-lg-2 control-label"><%= i('html.label.group.member') %><!-- メンバ--></label>
              <div class="col-lg-8">

                <div id="textBoxMember" class="incrementBox">
                  <input id="inputMember" scope="1" placeholder="<%= i('html.input.group.member') %>" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputComment" class="col-lg-2 control-label"><%= i('html.label.group.comment') %><!-- コメント--></label>
              <div class="col-lg-8">
                <textarea class="form-control" id="inputComment" placeholder="<%= i('html.label.group.comment') %>" rows="6"></textarea>
              </div>
            </div>
          </form>
      </div>
      <div class="col-lg-8" style="margin-bottom: 30px;padding: 0px;">
        <div id="updateGroup" class="col-lg-4 btn btn-warning btn-lg">
          <%= i('html.button.common.add') %><!-- 登録-->
        </div>
      </div>
    </div>
  </div>
</div><!--/.main-container-->
</body>
</html>