<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include common/required.html %>
  <link href="<%= dynamic('/stylesheets/yukari.css')%>" rel="stylesheet" media="screen">
  <script type="text/javascript" src="<%= dynamic('/javascripts/common.user.view.js')%>"></script>
  <script type="text/javascript" src="<%= dynamic('/javascripts/customer_notice_add.js')%>"></script>
    <script type="text/javascript">
        var i18n = {
            "js.common.search.error": "<%=i('js.common.search.error') %>"
            , "js.common.add.error": "<%=i('js.common.add.error') %>"
            , "js.common.update.error": "<%=i('js.common.update.error') %>"
            , "js.ctr.common.system.error": "<%=i('js.ctr.common.system.error') %>"
        }
    </script>
</head>
<body>

<% include common/navbar.html %>

<div class="main-container container-fluid row">
  <% include common/sidebar.html %>
  <div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari"><%= i('html.label.common.home') %><!-- ホーム--></a>
          <span class="divider"><i class="icon-chevron-right arrow-icon"></i></span>
        </li>
        <li style="width:100px">
          <i class="icon-bullhorn icon-large"></i>
          <a href="/customer/notice"><%= i('html.label.notice') %><!-- 通知--></a>
          <span class="divider"><i class="icon-chevron-right arrow-icon"></i></span>
        </li>
        <li class="active" style="width:86px"><%= title %></li>
      </ul><!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="row tableheader col-lg-8">
        <div class="pull-left">
          <h4><%= i('html.label.notice') %><!-- 通知--></h4>
        </div>
      </div>
      <div class="row col-lg-8 box-border">
        <form class="form-horizontal" role="form" style="margin-top: 15px">
          <div class="form-group">
            <label for="title" class="col-lg-2 control-label"><%= i('html.label.notice.title') %><!-- タイトル--></label>
            <div class="col-lg-8">
              <input type="text" class="form-control" name="title" id="title" placeholder="<%= i('html.label.notice.title') %>">
            </div>
          </div>
          <div class="form-group">
            <label for="keywordsText" class="col-lg-2 control-label"><%= i('html.label.notice.recipient') %><!-- 宛先--></label>
            <div class="col-lg-8">

              <div id="textBoxNotice" class="incrementBox">
                <input id="keywordsText" scope="1" placeholder="<%= i('html.input.notice.recipient') %>" />
              </div>

            </div>
          </div>
          <div class="form-group">
            <label for="notice" class="col-lg-2 control-label"><%= i('html.label.notice.message') %><!-- メッセージ--></label>
            <div class="col-lg-8">
              <textarea class="form-control" rows="6" name="notice" id="notice"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-8" style="margin-bottom: 30px;padding: 0px;">
        <div id="addNotice" class="col-lg-4 btn btn-warning btn-lg">
          <%= i('html.button.notice.send') %><!-- 発送-->
        </div>
      </div>
    </div>

  </div><!--/.main-content-->

</div><!--/.main-container-->

</body>
</html>