<!DOCTYPE html>
<html>
<head>
  <title>ワークステーション</title>
  <% include common/required.html %>
  <link href="/stylesheets/yukari.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/javascripts/customer_workstation.js"></script>
  <style>
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
      border: 1px solid #d3d3d3;
      font-weight: normal;
      color: #555555;
    }
  </style>
</head>
<body>

<% include common/navbar.html %>

<div class="main-container container-fluid">
  <% include common/sidebar.html %>


  <div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari">ホーム</a>
          <span class="divider"><i class="icon-chevron-right arrow-icon"></i></span>
        </li>
        <li class="active">ワークステーション定義</li>
      </ul><!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="page-header position-relative">
        <h1>
          ワークステーション設定
        </h1>
      </div>
      <div class="row" style="margin-left: 30px">
        <div class="col-lg-8 wsbackcolor">
        <div>
          <ul>
            <li class="ui-state-default">
              <div class="wsicon pull-left"><label>Icon</label></div>
              <div class="wsname pull-left"><label>名称</label></div>
              <div class="wstype pull-left"><label>タイプ</label></div>
              <div class="wsurl pull-left"><label>URL</label></div>
              <div class="wsoper pull-left" id="setting_add"><i class="icon-plus"></i></div>
            </li>
          </ul>
        </div>
        <div>
          <ul id="sortable"></ul>
        </div>
      </div>
      </div>
        <div class="row" style="margin-left: 30px;margin-top: 50px">
        <button type="submit" class="btn btn-default btn-lg">保存</button>
      </div>
    </div>
  </div>
</div><!--/.main-container-->
</body>

<script type="text/template" id="tmpl_sortable">
  <li class="ui-state-default">
    <div class="wsicon pull-left">
      <ul class="nav nav-pills">
        <li class="dropdown">
          <label class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span>&nbsp;&nbsp;<i class="icon-{{icon}} icon-large"></i>&nbsp;&nbsp;&nbsp;</span><span class="caret"></span>
          </label>
          <ul class="dropdown-menu">
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-desktop"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-tablet"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-comments"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-calendar"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-desktop"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-calendar-empty"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-bar-chart"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-pencil"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-envelope-alt"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-folder-open-alt"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-gear"></i></li>
            <li class="pull-left" style="padding:5px 5px 5px 5px;"><i class="icon-tags"></i></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="wsname pull-left">
      <input class="form-control" type="text" value="{{name}}">
    </div>
    <div class="wstype pull-left">
      <select class="form-control">
        <option>リンク</option>
        <option>アプリ起動</option>
      </select>
    </div>
    <div class="wsurl pull-left">
      <input class="form-control" type="text" value="{{url}}">
    </div>
    <div class="wsoper pull-left">
      <i class="icon-th-list icon-large"></i>
    </div>
  </li></script>

</html>