<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include common/required.html %>
  <link href="<%= dynamic('/stylesheets/yukari.css')%>" rel="stylesheet" media="screen">
</head>
<body>

<% include common/navbar.html %>
<div class="main-container container-fluid">
  <% include common/sidebar.html %>

  <div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home home-icon"></i>
          <a href="/yukari">ホーム</a>
            <span class="divider">
              <i class="icon-chevron-right arrow-icon"></i>
            </span>
        </li>
        <li class="active">顧客一覧</li>
      </ul><!--.breadcrumb-->
    </div>
  </div>

</div><!--/.main-container-->

</body>
</html>