<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include common/required.html %>
  <link href="/stylesheets/yukari.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/javascripts/customer_user_import.js"></script>
</head>
<body>

<% include common/navbar.html %>

<div class="main-container container-fluid row">
  <% include common/sidebar.html %>


  <div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari">ホーム</a>
            <span class="divider">
              <i class="icon-chevron-right arrow-icon"></i>
            </span>
        </li>
        <li class="active">一括登録</li>
      </ul><!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="row tableheader col-lg-12">
        <div class="pull-left">
          <h4>インポート説明</h4>
        </div>
      </div>
      <div class="row col-lg-12" style="border:solid 1px #e3e3e3;margin-bottom: 30px;height:200px">
        <p>CSVファイルから、ユーザマスタ にインポートできます。 </p>
      </div>
      <div class="row tableheader col-lg-12">
        <div class="pull-left">
          <h4>インポート</h4>
        </div>
      </div>
      <div class="row col-lg-12" style="border:solid 1px #e3e3e3;margin-bottom: 30px;">
        <div style="margin-bottom: 3em;margin-left: 30px">
          <h4>テンプレートダウンロード　</h4>
          <div>
            <form action="/user/download/template.json" method="GET">
              <input type="submit" class="btn btn-warning btn-lg" value="ダウンロード">
            </form>
          </div>
        </div>
        <div style="margin-bottom: 3em;margin-left: 30px">
          <h4>インポート</h4>
          <div>
            <input type="file" id="csvfile" name="files" accept="text/csv"/>
            <button class="btn btn-warning btn-lg" style="margin-top: 30px" id="importuser">インポート</button>
          </div>

        </div>
        <div id="message" style="color:red;display:none"></div>
      </div>
    </div>
  </div><!--/.main-content-->

</div><!--/.main-container-->
<footer>

</footer>

</body>
</html>