<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include common/required.html %>
  <link href="/stylesheets/yukari.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="/javascripts/common.user.view.js"></script>
  <script type="text/javascript" src="/javascripts/customer_workstation.js"></script>
  <style>
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
      border: 1px solid #d3d3d3;
      font-weight: normal;
      color: #555555;
    }

  </style>
</head>
<body>

<% include common/navbar.html %>

<div class="main-container container-fluid">
  <% include common/sidebar.html %>


  <div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari"><%= i('html.label.common.home') %><!-- ホーム--></a>
          <span class="divider"><i class="icon-chevron-right arrow-icon"></i></span>
        </li>
        <li class="active"><%= i('html.label.workstation') %><!-- ワークステーション設定--></li>
      </ul><!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="row tableheader">
        <div class="pull-left">
          <h4><%= i('html.label.workstation') %><!-- ワークステーション設定--></h4>
        </div>
      </div>
      <div class="row box-border">
        <div class="wsbackcolor" style="width:770px;margin-left:15px;">
          <div>
            <ul style="border-bottom-color:#DCDCDC;border:1px;">
              <div class="row">
                <li class="ui-state-default">
                  <div class="wsicon pull-left"><label><%= i('html.label.workstation.icon') %><!-- アイコン--></label></div>
                  <div class="wsname pull-left"><label><%= i('html.label.workstation.name') %><!-- タイトル--></label></div>
                  <div class="wsurl pull-left"><label><%= i('html.label.workstation.url') %><!-- URL--></label></div>
                  <div class="wstype pull-left"><label><%= i('html.label.workstation.type') %><!-- タイプ--></label></div>
                  <div class="wsopen pull-left"><label><%= i('html.label.workstation.oper') %><!-- 操作--></label></div>
                  <div class="wsoper pull-left"  style="background-color:#DCDCDC;margin-bottom:5px;" id="setting_add">
                    <i class="icon-plus"></i>&nbsp;<i class="icon-th-list"></i>
                  </div>
                </li>
              </div>
            </ul>
            <ul id="sortable"></ul>
            <div style="height:10px;"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 row">
        <button type="submit" class="col-lg-4 btn btn-warning btn-lg" id="saveList"><%= i('html.button.common.save') %><!-- 保存--></button>
      </div>
    </div>
  </div>
</div><!--/.main-container-->

<!--setting  Modal -->
<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= i('html.label.workstation') %><!-- ワークステーション--></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <input type="hidden" class="form-control" id="inputId">
          <div class="form-group">
            <label class="col-xs-3 control-label"><%= i('html.label.workstation.icon') %><!-- アイコン--></label>
            <div class="col-xs-8">
              <input type="hidden" class="form-control" id="inputIcon" value="1">
              <div class="wsicon pull-left">
                <ul class="nav nav-pills">
                  <li class="dropdown">
                    <label class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="icon-group" id="icon_select"></i>&nbsp; <span class="caret"></span>
                    </label>
                    <ul class="dropdown-menu" id="icon_menu"></ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label"><%= i('html.label.workstation.name') %><!-- タイトル--></label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="inputTitle" placeholder="<%= i('html.label.workstation.name') %>">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label"><%= i('html.label.workstation.url') %><!-- URL--></label>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="inputUrl" placeholder="<%= i('html.label.workstation.url') %>">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label"><%= i('html.label.workstation.type') %><!-- タイプ--></label>
            <div class="col-xs-8">
              <div id="inputType" class="btn-group" value="ise">
                <button value="ise" class="btn btn-sm btn-default btn-white" type="button">INSUITE</button>
                <button value="sdb" class="btn btn-sm btn-default btn-white" type="button">SmartDB</button>
                <button value="web" class="btn btn-sm btn-default btn-white" type="button">WEB</button>
                <button value="app" class="btn btn-sm btn-default btn-info" type="button">APP</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3 control-label"><%= i('html.label.workstation.pub') %><!-- 公開--></label>
            <div class="col-xs-8">
              <div id="inputOpen" class="btn-group" value="0">
                <button value="0" class="btn btn-sm btn-default btn-white" type="button" style="width: 45px;">
                  <i class="icon-unlock"></i>
                </button>
                <button value="1" class="btn btn-sm btn-default btn-info" type="button" style="width: 45px;">
                  <i class="icon-lock"></i>
                </button>
              </div>
              <div id="textBoxTag" class="incrementBox" style="margin-top: 10px;">
                <input scope="1" id="viewerText" placeholder="<%= i('html.label.workstation.opento') %>" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" name="okSetting" id="saveWorkstation" class="btn btn-warning cancel">
          <span> <%= i('html.button.common.save') %></span></button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script type="text/template" id="tmpl_icon">
  <li class="pull-left"><i class="{{icon}}" tabindex="{{idx}}"></i></li>
</script>

<script type="text/template" id="tmpl_sortable">
  <div class="row">
    <li class="ui-state-default" wsid={{wsid}}>
      <div class="wsicon pull-left">
        <ul>
          <li>
            <label class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="{{icon}}"></i>
            </label>
          </li>
        </ul>
      </div>
      <div class="wsname pull-left">{{title}}</div>
      <div class="wsurl pull-left">{{url}}</div>
      <div class="wstype pull-left">{{type}}</div>
      <div class="wsopen pull-left btn-group" style="height:34px;margin-top:5px;">
        <a operation="config" rowid={{sort}} wsid={{wsid}} class="btn btn-default btn-sm" href="#" data-toggle="modal">
          <%= i('html.button.workstation.conf') %><!-- 設定-->
        </a>
      </div>
      <div class="wsoper pull-left">
        <i class="icon-move"></i>
      </div>
      <div class="pull-left" style="width:20px">
        <i class="icon-trash" style="padding:5px;" tabindex="{{sort}}" wsid={{wsid}} operation="delete"></i>
      </div>
    </li>
  </div>
</script>

</body>
</html>