<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include common/required.html %>
  <link href="<%= dynamic('/stylesheets/yukari.css')%>" rel="stylesheet" media="screen">
  <script type="text/javascript" src="<%= dynamic('/javascripts/customer_appimage.js')%>"></script>

  <style>
    .splash-size {
      width: 410px;
      height: 307px;
    }

    .header-size {
      width: 160px;
      height: 45px;
    }
    .center_btn {
      display: none;
      margin-top: 5px;top: 144px;float: left;left: 177px;position: absolute;
    }
    .center_sm_btn {
      display: none;
      top: 2px;float: left;left: 52px;position: absolute;
    }
  </style>
</head>
<body>

<% include common/navbar.html %>

<div class="main-container container-fluid">
  <% include common/sidebar.html %>


  <div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
      <ul class="breadcrumb">
        <li>
          <i class="icon-home icon-large"></i>
          <a href="/yukari"><%= i('html.label.common.home') %><!-- ホーム--></a>
          <span class="divider"><i class="icon-chevron-right arrow-icon"></i></span>
        </li>
        <li class="active"><%= i('html.label.appicon') %></li>
      </ul>
      <!--.breadcrumb-->
    </div>

    <div class="page-content">
      <div class="row tableheader">
        <div class="pull-left">
          <h4><%= i('html.label.appicon') %><!-- アプリ起動画像 --></h4>
        </div>
      </div>
      <div class="row" style="margin-top:30px;margin-left: 30px;margin-bottom: 30px">
        <div class="col-lg-3">
          <div class="row">
            <label class="control-label"><%= i('html.label.appsplash01') %></label>
          </div>
          <div class="row">
            <label class="control-label">W:1024　H:768</label>
          </div>
        </div>
        <div  class="col-lg-6" style="position: relative;">
          <img id="image1" class="splash-size" src="/images/test/img_start01.png">
          <input type="file" id="uploadfile" style="display: none" accept=".png, .jpg, .jpeg"/>
          <a id="img_first" class="btn btn-default center_btn" style="margin-top: 5px;">
            <span><%= i('html.select.appimage') %><!-- 起動画像追加--></span>
          </a>
        </div>
      </div>
      <div class="row" style="margin-left: 30px;margin-bottom: 30px">
        <div class="col-lg-3">
          <div class="row">
            <label class="control-label"><%= i('html.label.appsplash02') %></label>
          </div>
          <div class="row">
            <label class="control-label">W:1024　H:768</label>
          </div>
        </div>
        <div class="col-lg-6" style="position: relative;">
          <img  id="image2" class="splash-size" src="/images/test/img_start02.png">
          <input type="file" id="uploadfile1" style="display: none" accept=".png, .jpg, .jpeg"/>
          <a id="img_second" class="btn btn-default center_btn" style="margin-top: 5px;">
            <span><%= i('html.select.appimage') %><!-- 起動画像追加--></span>
          </a>
        </div>
      </div>
      <div class="row" style="margin-left: 30px;margin-bottom: 30px">
        <div class="col-lg-3">
          <div class="row">
            <label class="control-label"><%= i('html.label.appheader') %></label>
          </div>
          <div class="row">
            <label class="control-label">W:160　H:45</label>
          </div>
        </div>
        <div class="col-lg-6" style="position: relative;">
          <div class="header-size" style="overflow: hidden">
            <img id="imagelogo" class="" src="/images/test/logo_header.png" style="background-color: gainsboro">
          </div>
          <input type="file" id="uploadfile2" style="display: none" accept=".png, .jpg, .jpeg"/>
          <a id="img_logo" class="btn btn-default center_sm_btn" style="margin-top: 5px;">
            <!--<i class="icon-plus icon-white"></i>-->
            <span><%= i('html.button.common.logosave') %><!--ログ追加--></span>
          </a>
        </div>
      </div>
      <div class="col-lg-8" style="margin-bottom: 30px">
        <div id="saveimage" class="col-lg-4 btn btn-warning btn-lg">
          <%= i('html.button.common.save') %><!-- 発送-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--/.main-container-->
</body>
</html>