<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include common/required.html %>
  <link rel='stylesheet' href='<%= dynamic('/stylesheets/top.css'/>
</head>
<body>
  <div class="container" id="top">
      <div class="masthead">
          <!--h3 class="text-muted">ゆかり</h3-->
          <ul class="nav nav-justified">
              <li class="active"><a href="/top/index">ホーム</a></li>
              <li><a href="#service">サービス</a></li>
              <li><a href="#sample">サンプル</a></li>
              <li><a href="#example">導入実績</a></li>
              <li><a href="/top/detail">試用版申請</a></li>
              <li><a href="/top/login">ログイン</a></li>
          </ul>
      </div>
    <!-- Jumbotron -->
    <div class="jumbotron">
        <img src="/images/demo/YUKARi_ipad.png" height="400px" width="600px">
        <p></p>
        <a class="btn btn-lg btn-custom" href="#"><img src="/images/YUKARi.png" height="18px">&nbsp;&nbsp; Download Now</a>
    </div>
    <div class="body-content row">

      <!-- Example row of columns -->
        <div class="col-lg-4" style="width: 1%;"></div>
        <div class="col-lg-4 alert alert-success" style="width: 30%;">
            <p class="title"><strong>営業コンテンツ作成</strong></p>
            <p>営業用イメージ、ビデオなど素材がコンテンツDBへアップできる。クラウドサービスとして公開されます。</p>
            <p><a href="#"><b>詳しくはこちら &raquo;</b></a></p>
        </div>
        <div class="col-lg-4" style="width: 2%;"></div>
        <div class="col-lg-4 alert alert-success" style="width: 30%;">
            <p class="title"><strong>コンテンツ承認</strong></p>
            <p>営業用イメージ、ビデオなど素材がコンテンツDBへアップできる。クラウドサービスとして公開されます。</p>
            <p><a href="#"><b>詳しくはこちら &raquo;</b></a></p>
        </div>
        <div class="col-lg-4" style="width: 2%;"></div>
        <div class="col-lg-4 alert alert-success" style="width: 30%;">
             <p class="title"><strong>現場情報速報</strong></p>
             <p>営業用イメージ、ビデオなど素材がコンテンツDBへアップできる。クラウドサービスとして公開されます。</p>
             <p><a href="#"><b>詳しくはこちら &raquo;</b></a></p>
        </div>
        <div class="col-lg-4" style="width: 1%;"></div>

    </div><!-- /.body-content -->
  </div>
  <div class="container" id="service">
    <div class="section_header">
      <h3>サービス</h3>
    </div>
    <div class="row">
      <!-- Features Row -->
      <div class="features_op1_row">
        <!-- Feature -->
        <div class="span4 pull-left" style="margin-left: 20px">
          <div class="img_box">
            <a href="#">
              <img src="/images/demo/__yukari__img_Shoprun_contents01_y.png" width="300px" height="">
            </a>
          </div>
          <div class="text">
            <h3>Shopらん</h3>
            <p>
              流通・小売業における本部・店舗間のコミュニケーションに特化したベストプラクティス型のクラウドサービス。オペレーションの質とスピードを飛躍的に向上させます。
            </p>
          </div>
        </div>
        <div class="span4 pull-left" style="margin-left: 10px">
          <div class="img_box">
            <a href="#">
              <img src="/images/demo/__yukari__img_Shoprun_contents02_y.png" width="300px" height="">
            </a>
          </div>
          <div class="text">
            <h3>INSUITE</h3>
            <p>
              「全社の業務」から「現場ごとのローカルな業務」まで幅広いシステム化に対応。現場系アプリケーションを集約し、ビジネスニーズに迅速かつ柔軟に対応します。
            </p>
          </div>
        </div>
        <div class="span4 pull-left" style="margin-left: 10px">
          <div class="img_box">
            <a href="#">
              <img src="/images/demo/__yukari__img_Shoprun_contents03_y.png" width="300px" height="">
            </a>
          </div>
          <div class="text">
            <h3>ひびきSm@rtDB</h3>
            <p>
              大規模企業で選ばれた信頼性、拡張性、先進性。実務から経営まで、あらゆるビジネス現場での創造性、業務遂行力を向上させる、優れた統合基盤です。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="sample">
    <div class="section_header">
      <h3>サンプル</h3>
    </div>
    <div class="row feature">
      <div class="span6 pull-left" style="border-radius: 4px;">
        <img src="/images/demo/__yukari__img_feature00.png"  height="300" />
      </div>
      <div class="span6 pull-left">
        <h3>
          <i class="icon-puzzle-piece icon-2x"></i>営業コンテンツ作成
        </h3>
        <p>
          営業用イメージ、ビデオなど素材がコンテンツDBへアップできる。クラウドサービスとして公開されます。
        </p>
      </div>
    </div>
    <div class="row feature">
      <div class="span6 pull-right">
        <img src="/images/demo/__yukari__img_feature01.png" height="300" />
      </div>
      <div class="span6 pull-right">
        <h3>
          <i class="icon-pushpin icon-2x"></i>コンテンツ承認
        </h3>
        <p>
          営業用イメージ、ビデオなど素材がコンテンツDBへアップできる。クラウドサービスとして公開されます。
        </p>
      </div>
    </div>
    <div class="row feature">
      <div class="span6 pull-left">
        <img src="/images/demo/__yukari__img_feature02.png" height="300" />
      </div>
      <div class="span6 pull-left">
        <h3>
          <i class="icon-road icon-2x"></i>現場情報速報
        </h3>
        <p>
          営業用イメージ、ビデオなど素材がコンテンツDBへアップできる。クラウドサービスとして公開されます。
        </p>
      </div>
    </div>
  </div>
  <div class="container" id="example">
      <div class="section_header">
          <h3>導入実績</h3>
      </div>
      <p>破綻から2年8ヶ月という短期間で再上場を果たした日本航空(JAL)。会社更生法の適用から、厳しい状況に直面する中、企業としてのJALはどのような取り組みを進めたのか。この劇的なV字回復の中で、社員の意識改革・経営変革・情報変革のために新たに導入された「新ポータルサイト」。経営再建にあたって、JALのIT戦略面での陣頭指揮を執ってきた方々からの生の声を伺った。</p>
      <div class="jumbotron">
          <img src="/images/demo/__yukari__img_example00.png" height="400px" width="600px">
      </div>

  </div>
  <!-- Site footer -->
  <div class="container footer">
    <p>&copy; Copyright ゆかり 2013 DreamArts Corporation. All Rights Reserved.</p>
  </div>
  <span class="backToTop" style="display: block;"><a href="#top"><i class="icon-chevron-up icon-large"></i></a></span>
  <script>
    $(document).ready(function () {

    if (navigator.userAgent.indexOf('iPad', 'iPhone', 'iPod', 'Android', 'BlackBerry') == -1) {

    $(".backToTop").hide();

    $(window).scroll(function () {
    if ($(this).scrollTop() > 100) {
    $('.backToTop').fadeIn();
    } else {
    $('.backToTop').fadeOut();
    }
    });

    $('.backToTop').click(function () {
    $("html, body").animate({
    scrollTop: 0
    }, 800);
    return false;
    });

    }

    var deviceAgent = navigator.userAgent.toLowerCase();
    var agentID = deviceAgent.match(/(iphone|ipod|ipad|Android|BlackBerry)/);
    if (agentID) {

    $('.backToTop').css({
    "position": "relative",
    "clear": "both",
    "margin": "0 auto",
    "width": "100%",
    "right": "auto",
    "bottom": "auto"
    });
    $('.backToTop a').css({
    "width": "100%",
    "-border-radius": "0px",
    "-webkit-border-radius": "0px"
    });

    }

    });
  </script>
</body>
</html>
